<%= semantic_form_for @volunteer do |f| %>
    <div id="volunteer-info">
      <%= f.inputs do %>
          <%= f.input :first_name %>
          <%= f.input :middle_name %>
          <%= f.input :last_name %>
          <%= f.input :address1 %>
          <%= f.input :address2 %>
          <%= f.input :address3 %>
          <%= f.input :city %>
          <%= f.input :state %>
          <%= f.input :postal %>
          <li class="string input optional stringish"><label class="label">Country</label>
            <%= country_select(:volunteer, :country, only: ["United States", "Canada", "United Kingdom"], label: "Country") %>
          </li>
          <%= f.input :home_phone %>
          <%= f.input :work_phone %>
          <%= f.input :other_phone %>
          <%= f.input :email %>
          <%= f.input :user, collection: User.by_username, input_html: { class: 'user-select2', style: 'width: 300px' } %>
          <%= label_tag :can_have_multiple_radios, "Can Have Multiple Radios?" %>
          <%= f.check_box :can_have_multiple_radios %>
          <%= label_tag :make_user_after_save, "Make User after Save" %>
          <%= check_box_tag :make_user_after_save %>
      <% end %>
    </div>
    <div id="trainings">
      <%= render partial: "volunteer_trainings/form", locals: { f: f, training: @volunteer.volunteer_training } %>
    </div>

    <div id="#commands">
      <%= f.actions do %>
          <%= f.action :submit %>
      <% end %>
    </div>
<% end %>

<script>
$(
  function() {
    $(".user-select2").select2();
  }
);
</script>
