<%= field_set_tag "Search attendees" do %>
    <%= text_field_tag :name, "", { id: "search-attendees" } %>
<% end %>

<%= semantic_form_for @volunteer do |f| %>
    <div id="volunteer-info">
      <%= f.inputs do %>
          <%= f.input :first_name %>
          <%= f.input :middle_name %>
          <%= f.input :last_name %>
          <%= f.input :address1 %>
          <%= f.input :address2 %>
          <%= f.input :address3 %>
          <%= f.input :city %>
          <%= f.input :state %>
          <%= f.input :postal %>
          <li class="string input optional stringish"><label class="label">Country</label>
            <%= country_select("volunteer", "country", ["United States", "Canada", "United Kingdom"], label: "Country") %>
          </li>
          <%= f.input :home_phone %>
          <%= f.input :work_phone %>
          <%= f.input :other_phone %>
          <%= f.input :email %>
      <% end %>
    </div>
    <div id="trainings">
      <%= render partial: "volunteer_trainings/form", locals: { f: f, training: @volunteer.volunteer_training } %>
    </div>

    <div id="#commands">
      <%= f.actions do %>
          <%= f.action :submit %>
      <% end %>
    </div>
<% end %>
