<h1>Listing volunteers</h1>

<div id="paginator"><%= paginate @volunteers %></div>

<%= render partial: 'volunteers' %>
<br />

<div class="button">
  <%= link_to 'New Volunteer', new_volunteer_path, class: 'button' %>
</div>

<% content_for :side do %>
    <div>
      <%= link_to "Users", users_path %>
    </div>
    <div>
      <%= link_to "Contacts", contacts_path %>
    </div>
<% end %>