<!--div id="user-info">
  <% if @volunteer.user.nil? %>
      <button id="create-user-button">Create new user</button>
  <% else %>
      <div>Associated with: <strong><%= @volunteer.user.name %></strong></div>
  <% end %>
</div-->

<div id="create-user-for-vol" title="Create new user">
  WOMBAT
</div>

<div id="volunteer-info">
  <div id="training-show">
    <div class="info"><%= render partial: "volunteer_trainings/show", locals: { training: @volunteer.volunteer_training } %></div>
  </div>

  <div class="name">
    <%= @volunteer.first_name %> <%= @volunteer.middle_name %> <%= @volunteer.last_name %>
  </div>

  <div class="address">
    <div><%= @volunteer.address1 %></div>
    <div><%= @volunteer.address2 %></div>
    <div><%= @volunteer.address3 %></div>
    <div><%= @volunteer.city %> <%= @volunteer.state %> <%= @volunteer.postal %></div>
    <div><%= @volunteer.country %></div>
  </div>

  <div class="phones">
    <% unless @volunteer.home_phone.nil? or @volunteer.home_phone.empty? %>
        <div><span class="info-label">Home phone:</span> <%= @volunteer.home_phone %></div>
    <% end %>
    <% unless @volunteer.work_phone.nil? or @volunteer.work_phone.empty? %>
        <div><span class="info-label">Work phone:</span> <%= @volunteer.work_phone %></div>
    <% end %>
    <% unless @volunteer.other_phone.nil? or @volunteer.other_phone.empty? %>
        <div><span class="info-label">Other phone:</span> <%= @volunteer.other_phone %></div>
    <% end %>
  </div>

  <div class="email">
    <% unless @volunteer.email.nil? or @volunteer.email.empty? %>
        <div><span class="info-label">Email:</span> <%= @volunteer.email %></div>
    <% end %>
  </div>

  <% if @volunteer.can_have_multiple_radios? %>
      <div><span class="info-label" style="color: red">Can have multiple radios</span></div>
  <% end %>

  <% if @volunteer.user %>
      <div>User: <%= @volunteer.user.name %></div>
  <% end %>
</div>

<%= content_for :side do %>
    <div><%= link_to 'Edit', edit_volunteer_path(@volunteer) %></div>
    <div><%= link_to 'Back', volunteers_path %></div>
<% end %>