<tr>
  <td><%= login_log.created_at.getlocal.ctime %></td>
  <td><%= login_log.user_name %></td>
  <td><%= login_log.role_name %></td>
  <td><%= login_log.comment %></td>
  <td><%= login_log.ip %></td>
</tr>