<% content_for :side do %>
    <div><%= link_to 'At-con Contact List', contacts_path %></div>
    <div><%= link_to 'Volunteers List', volunteers_path %></div>
    <div><%= link_to 'New At-con Contact', new_contact_path %></div>
    <div><%= link_to 'Message Review', messages_path %></div>

    <p>NOTE: This will hopefully be smarter by con, with cleaner ways to look up and incorporate contact info.</p>
<% end %>
<%= semantic_form_for @message do |f| %>
    <%= f.inputs do %>
        <%= f.input :for %>
        <%= f.input :phone_number %>
        <%= f.input :hotel %>
        <%= f.input :room_number %>
        <%= f.input :message %>
    <% end %>

    <%= f.actions do %>
        <%= f.action :submit %>
    <% end %>
<% end %>
