<h1>Active messages</h1>

<div class="button">
  <%= link_to 'New Message', new_message_path, class: 'button' %>
</div>
<div id="paginator"><%= paginate @messages %></div>

<%= render partial: "message", collection: @messages %>

<% if @messages.count > 0 %>
    <div class="button">
      <%= link_to 'New Message', new_message_path, class: 'button' %>
    </div>
<% end %>
<div id="paginator"><%= paginate @messages %></div>

<%= content_for :side do %>
    <div>
      <%= link_to "Contacts", contacts_path %>
    </div>
<% end %>

<%= content_for :search do %>
    <div id="search">
      <%= search_form_for @qc, url: contacts_path do |f| %>
          <%= f.label :name_cont, 'Contact name contains (case sensitive)' %>
          <%= f.text_field :name_cont, class: 'small' %>
          <div class="button small-button"><%= f.submit %></div>
      <% end %>
    </div>
<% end %>
