<%= form_for :session, :url => sessions_path do |f| %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<div class="actions">
		<%= f.submit "Sign in" %>
	</div>
<% end %>