<div id="login_form" class="well well-sm">
  <h1>Log In</h1>
  <%= form_tag sessions_path do %>

      <div class="field">
        <div><%= label_tag :username %></div>
        <div><%= text_field_tag :username %></div>
      </div>
      <div class="field">
        <div><%= label_tag :password %></div>
        <div><%= password_field_tag :password %></div>
      </div>
      <div class="field">
        <div><%= label_tag :role %></div>
        <noscript>You <b>must</b> have Javascript enabled for this application to work. No exceptions. Sorry, kids!
        </noscript>
        <div id="role"></div>
      </div>
      <div class="actions">
        <%= submit_tag "Log in", class: 'btn btn-success' %>
      </div>
  <% end %>
</div>
<script>
    $(
            function () {
                $('#role').text('Enter username to select role');
                $('#username').on('blur input', function (evt) {
                    $.ajax('/sessions/getroles',
                            {
                                dataType: 'script',
                                data: {
                                    username: $('#username').val()
                                }
                            })
                });
            }
    )
</script>
