<h1>Listing entries</h1>

<% @entries.each do |entry| %>
  <div class="<%= cycle('list_line_odd', 'list_line_even') %>" >
    <div class="list_metadata">
      <div>Created at: <%= entry.created_at %></div>
      <div>Updated at: <%= entry.updated_at %></div>
    </div>
    <div class="list_description">
      <%= strip_tags(entry.description) %>
      <div class="list_actions">
	<div><%= link_to 'Show', entry %></div>
	<div><%= link_to 'Edit', edit_entry_path(entry) %></div>
	<div><%= link_to 'Destroy', entry, 
	  confirm: 'Are you sure?', 
	  method: :delete %>
	</div>
      </div>
    </div>
  </div>
<% end %>

<br />

<%= link_to 'New Entry', new_entry_path %>
