<%= semantic_form_for @lfi, html: { class: "form-horizontal" } do |f| %>
    <%= f.inputs do %>
        <%= hidden_field_tag :inventory, params[:inventory] ? "1" : "0" %>
        <%= f.input :category, as: :select, collection: LostAndFoundCategory.order(:name), class: background %>
        <%= f.input :description %>
        <% if @lfi.reported_missing? %>
            <%= f.input :reported_missing, as: :hidden, input_html: { value: true } %>
            <%= f.input :where_last_seen, label: "Where Last Seen" %>
            <%= f.input :owner_name, label: "Owner Name" %>
            <%= f.input :owner_contact, label: "Owner Contact" %>
        <% end %>
        <% if @lfi.found? || @lfi.returned? %>
            <%= f.input :found, as: :hidden, input_html: { value: true } %>
            <%= f.input :where_found, label: "Where Found" %>
        <% end %>
        <% if @lfi.returned? %>
            <%= f.input :returned, as: :hidden, input_html: { value: true } %>
            <%= f.input :who_claimed, label: "Claimed by" %>
        <% end %>
        <% if @lfi.inventoried? %>
            <%= f.input :inventoried, as: :hidden, input_html: { value: true } %>
        <% end %>
        <%= f.input :details, as: :text %>
    <% end %>
    <div><abbr text="required">*</abbr> denotes a required field</div>
    <%= f.actions do %>
        <%= f.action :submit, label: "Save" %>
    <% end %>
<% end %>
