<%= render partial: 'jump' %>

<div class="col-md-12">
  <div id="paginator"><%= paginate @lfis %></div>

  <% @lfis.each do |lfi| %>
      <div class="lfi <%= lfi.type %>">
        <div class="id_line">
          <div class="lfi-label">Item ID:</div>
          <div class="item_id"><%= lfi.id %>&mdash;<%= lfi.category %></div>
          <div class="view_button">
            <%= link_to "View", lost_and_found_item_path(lfi, inventory: params[:inventory]), class: "btn btn-default item_#{lfi.type}_button" %>
          </div>
        </div>

        <div class="summary">
          <div class="description">Description: <%= lfi.description %></div>
          <div class="status">Status: <%= lfi.type.upcase %></div>
        </div>
      </div>
  <% end %>

  <% newparams = { lost_and_found_item: {} } %>
  <% if params[:reported_missing] %>
      <% buttontype = "item_missing_button" %>
      <% buttontext = "Create new missing item" %>
      <% newparams[:lost_and_found_item][:reported_missing] = true %>
  <% end %>
  <% if params[:found] %>
      <% buttontype = "item_found_button" %>
      <% buttontext = "Create new found item" %>
      <% newparams[:lost_and_found_item][:found] = true %>
  <% end %>

  <div class="button"><%= link_to buttontext, new_lost_and_found_item_path(newparams),
                                  class: "#{buttontype} btn btn-default" if buttontext.present? %>
  </div>

  <div id="paginator"><%= paginate @lfis %></div>

</div>
<% content_for :side do %>
    <div class="col-md-12">
      <div class="well well-sm">
        <div><%= link_to 'Back', searchform_lost_and_found_items_path(@back_params) %></div>
        <% if current_user.modify_lost_and_found? %>
            <div><%= link_to 'Open Inventory', lost_and_found_items_path(inventory: true) %></div>
        <% end %>
      </div>
    </div>
<% end %>
