<h2>Search for an item</h2>
<%= form_tag :lost_and_found_items, method: :get, id: "lost_and_found_search_form" do %>
    <%= hidden_field_tag "reported_missing", params[:reported_missing] if params[:reported_missing] %>
    <%= hidden_field_tag "found", params[:found] if params[:found] %>
    <%= field_set_tag "", id: "lost_and_found_checkboxes" do %>
        <ol>
          <% LostAndFoundItem.categories.each do |k, v| %>
              <li><%= checkbox k, v %></li>
          <% end %>
          <%= checkbox :show_returned, 'Returned' %>
        </ol>
    <% end %>
    <%= label_tag :keywords, "Search Keyword(s)" %>
    <%= text_field_tag :keywords %>
    <%= field_set_tag "", id: "lost_and_found_search_options" do %>
        <ol>
          <li><%= label_tag :search_type_all, "Find All" %>
            <%= radio_button_tag :search_type, "all", true %></li>
          <li><%= label_tag :search_type_any, "Find Any" %>
            <%= radio_button_tag :search_type, "any" %></li>
        </ol>
    <% end %>
    <%= submit_tag "Search", class: "lost-and-found-search-button" %>
<% end %>
<blockquote style="text-align: center;"><strong>NOTE:</strong> This page does <strong>not</strong> and <strong>cannot</strong> create a new
  Lost and Found entry. You <strong>must</strong> search for an existing entry before you can create a new one.</blockquote>

<% content_for :side do %>
    <%= link_to 'Back', lost_and_found_path %>
    <% if current_user.modify_lost_and_found? %>
        <%= link_to 'Open Inventory', lost_and_found_items_path(inventory: true) %>
    <% end %>
<% end %>