<h1>Assign <%= @duty_board_slot.name %></h1>

<%= semantic_form_for @duty_board_slot do |f| %>
    <%= semantic_fields_for @duty_board_slot.duty_board_assignment || DutyBoardAssignment.new do |g| %>
        <%= g.inputs do %>
            <%= g.input :volunteer %> <%= link_to "Create Volunteer", new_volunteer_path, target: '_blank' %>
            <%= g.input :notes %>
        <% end %>
        <%= g.actions do %>
            <%= g.submit %>
        <% end %>

    <% end %>
<% end %>
<%= button_to "Clear Assignment", clear_assignment_duty_board_slot_path(@duty_board_slot), confirm: 'Are you sure?' %>
<div id="create_volunteer"></div>