<ul>
  <!--li>Look up badge information (not yet implemented)</li-->
</ul>

<h1>Administration</h1>
<ul>
  <% if current_user and (current_user.can_admin_radios?) %>
      <li><%= link_to "Radios", radio_admin_index_url %></li>
  <% end %>
  <li><%= link_to "Contacts", contacts_url %></li>
  <% if current_user and current_user.can_admin_duty_board? %>
      <li><%= link_to "Duty Board Groups", duty_board_groups_path %></li>
      <li><%= link_to "Duty Board Slots", duty_board_slots_url %></li>
  <% end %>
  <li><%= link_to "Volunteers", volunteers_url %></li>
  <% if current_user and current_user.can_admin_users? %>
      <li><%= link_to "Users", users_url %></li>
      <li><%= link_to "Roles", roles_url %></li>
      <li><%= link_to "Sections", sections_url %></li>
  <% end %>
  <% if current_user and current_user.can_read_audits? %>
      <li><%= link_to 'VSP list', vsps_path %></li>
    <% end %>
</ul>

<h1>System</h1>
<ul>
  <% if current_user and current_user.can_read_audits? %>
      <li><%= link_to 'Conventions (enables time-based filters)', conventions_url %></li>
      <li><%= link_to "(Pre-2014) View system log", audits_url %></li>
      <li><%= link_to "(2014-) View system log", versions_url %></li>
      <li><%= link_to "View login/out log", login_log_index_url %></li>
  <% end %>
  <li>Create backup (not yet implemented)</li>
</ul>	