<div class="con_on_rails_form">
  <%= semantic_form_for @user do |f| %>
      <%= f.inputs do %>
          <% if @user.volunteer %>
              <div><strong>Volunteer:</strong> <%= link_to @user.volunteer.name, @user.volunteer %></div>
          <% end %>
          <% if current_user.can_admin_users? %>
              <%= f.input :username %>
              <%= f.input :realname %>
          <% else %>
              <div><strong>Username:</strong> <%= @user.username %></div>
              <div><strong>Real Name:</strong> <%= @user.realname %></div>
          <% end %>
          <%= f.input :password %>
          <%= f.input :password_confirmation %>
          <% if current_user.can_admin_users? %>
              <%= f.input :roles %>
          <% else %>
              <table id="roleslist">
                <%= render partial: "roles/roleheader" %>
                <%= render @user.roles %>
              </table>
          <% end %>
      <% end %>
      <%= f.actions %>
  <% end %>
  </div>
