<div class="con_on_rails_form">
  <%= semantic_form_for @user do |f| %>
      <%= f.inputs do %>
          <% if current_user.can_admin_users? %>
              <%= f.input :name %>
              <%= f.input :realname %>
          <% else %>
              <div><strong>Username:</strong> <%= @user.name %></div>
              <div><strong>Real Name:</strong> <%= @user.realname %></div>
          <% end %>
          <%= f.input :password %>
          <%= f.input :password_confirmation %>
          <% if current_user.can_admin_users? %>
              <%= f.input :roles %>
          <% else %>
              <table id="roleslist">
                <%= render partial: "roles/roleheader" %>
                <%= render @user.roles %>
              </table>
          <% end %>
      <% end %>
      <%= f.actions %>
  <% end %>
</div>
<!--
<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      
      <ul>

        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>

        <% end %>
      </ul>
    </div>
    <% end %>

    <fieldset>
      <legend>User details</legend>
      <div class="field">
	<%= f.label :name %><br />
	  <%= f.text_field :name %>
      </div>
      <div class="field">
	<%= f.label :realname %><br />
	  <%= f.text_field :realname %>
      </div>
      <div class="field">
	<%= f.label :password %><br />
	  <%= f.password_field :password %>
      </div>
      <div class="field">
	<%= f.label :password_confirmation, "Confirm" %><br />
	  <%= f.password_field :password_confirmation %>
      </div>
      <div class="actions">
	<%= f.submit %>
      </div>
    </fieldset>
    <% end %>
</div> -->
