<h1>Listing users</h1>

<div class="button"><%= link_to 'New User', new_user_path, class: 'button' %></div>
<div id="search"><%= search_form_for @q do |f| %>
      <%= f.label :name_cont, 'Username' %>
      <%= f.text_field :name_cont %>
      <%= f.label :realname, 'Real name' %>
      <%= f.text_field :realname_cont %>
      <%= f.submit %>
  <% end %>
</div>
<div id="paginator"><%= paginate @users %></div>
<table>
  <tr>
    <th class="username"><%= sort_link @q, :name %></th>
    <th class="realname"><%= sort_link @q, :realname, 'Real Name' %></th>
    <th>Associated Volunteer Record</th>
  </tr>

  <%= render @users %>
</table>

<div id="paginator"><%= paginate @users %></div>
<div class="button"><%= link_to 'New User', new_user_path, class: 'button' %></div>

<% content_for :side do %>
    <div>
      <%= link_to "Volunteers", volunteers_path %>
    </div>
    <div>
      <%= link_to "Contacts", contacts_path %>
    </div>
<% end %>