<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Real Name:</strong>
  <%= @user.realname %>
</p>

<p>
  <strong>Roles</strong>:
<table id="roleslist">
  <%= render partial: "roles/roleheader" %>
  <%= render @user.roles %>
</table>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
