<div>
  <strong>Name:</strong>
  <%= @user.name %>
</div>

<div>
  <strong>Real Name:</strong>
  <%= @user.realname %>
</div>

<% if @user.volunteer %>
    <div>
      <strong>Associated with volunteer <%= link_to @user.volunteer.name, @user.volunteer %></strong>
    </div>
<% end %>

<div>
  <strong>Roles</strong>:
  <table id="roleslist">
    <%= render partial: "roles/roleheader" %>
    <%= render @user.roles %>
  </table>
</div>

<% content_for :side do %>
    <div><%= link_to 'Edit', edit_user_path(@user) %></div>
    <div><%= link_to 'Back', users_path %> </div>
<% end %>
