<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Real Name:</b>
  <%= @user.realname %>
</p>

<p>
	<b>Roles</b>: 
	<table id="roleslist">
	<%= render partial: "roles/roleheader" %>
	<%= render @user.roles %>
	</table>
	</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
