<h1>Listing departments</h1>

<table>
  <colgroup>
    <col id="radio_department" />
    <col id="radio_volunteer" />
    <col id="radio_group" />
    <col id="department_radio_allotment" />
  </colgroup>
  <tr>
    <th>Name</th>
    <th>Volunteer</th>
    <th>Radio group</th>
    <th>Radio allotment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @departments.each do |department| %>
  <tr>
    <td class="radio_department"><%= department.name %></td>
    <td class="radio_volunteer"><%= department.volunteer ? department.volunteer.name : "" %></td>
    <td class="radio_group <%= department.radio_group ? department.radio_group.color : "" %>"><%= department.radio_group ? department.radio_group.name : "" %></td>
    <td><%= department.radio_allotment %></td>
    <td><%= link_to 'Show', department %></td>
    <td><%= link_to 'Edit', edit_department_path(department) %></td>
    <td><%= link_to 'Destroy', department, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% content_for :side do %>
<div><%= link_to 'Back', :radio_admin_index %></div>
<div><%= link_to 'New Department', new_department_path %></div>
<% end %>