<h1>Departments</h1>

<div class="button"><%= link_to 'New Department', new_department_path, class: 'button' %></div>
<div style="height: 50px; vertical-align: middle">
  <div id="paginator" class="pull-left"><%= paginate @departments %></div>
  <div id="search"><%= search_form_for @q do |f| %>
        <%= f.label :name_cont %>
        <%= f.text_field :name_cont %>
        <%= f.submit %>
    <% end %>
  </div>
</div>

<table>
  <colgroup>
    <col id="radio_department" />
    <col id="radio_volunteer" />
    <col id="radio_group" />
    <col id="department_radio_allotment" />
  </colgroup>
  <tr>
    <th><%= sort_link @q, :name %></th>
    <th><%= sort_link @q, :volunteer_name, 'Volunteer Name' %></th>
    <th><%= sort_link @q, :radio_group_name, 'Radio Group' %></th>
    <th><%= sort_link @q, :radio_allotment %></th>
  </tr>

  <% @departments.each do |department| %>
      <tr>
        <td class="radio_department"><%= link_to department.name, department %></td>
        <td class="radio_volunteer"><%= department.volunteer ? department.volunteer.name : "" %></td>
        <td class="radio_group <%= department.radio_group ? department.radio_group.color : "" %>"><%= department.radio_group ? link_to(department.radio_group.name, department.radio_group) : "" %></td>
        <td><%= department.radio_allotment %></td>
      </tr>
  <% end %>
</table>

<div style="height: 50px; vertical-align: middle">
  <div id="paginator" class="pull-left"><%= paginate @departments %></div>
  <div id="search"><%= search_form_for @q do |f| %>
        <%= f.label :name_cont %>
        <%= f.text_field :name_cont %>
        <%= f.submit %>
    <% end %>
  </div>
</div>

<div class="button"><%= link_to 'New Department', new_department_path, class: 'button' %></div>

<% content_for :side do %>
    <div><%= link_to 'Back', :radio_admin_index %></div>
    <div><%= link_to "Radio Groups", :radio_groups %></div>
    <div><%= link_to "Radios", :radios %></div>
<% end %>