<div>
  <strong>Name:</strong>
  <%= @department.name %>
</div>

<div>
  <strong>Volunteer:</strong>
  <%= @department.volunteer ? @department.volunteer.name : "None" %>
</div>

<div>
  <strong>Radio group:</strong>
  <%= @department.radio_group.name %>
</div>

<div>
  <strong>Radio allotment:</strong>
  <%= @department.radio_allotment %>
</div>

<% content_for :side do %>
    <div><%= link_to "Back", :departments %></div>
    <div><%= link_to "Radio Groups", :radio_groups %></div>
    <div><%= link_to "Radios", :radios %></div>
    <div><%= link_to "Edit", edit_department_path(@department) if current_user.can_admin_radios? %></div>
    <div><%= link_to "Delete", department_path(@department), confirm: 'Are you sure?', method: :delete if current_user.can_admin_radios? %> </div>
<% end %>