<div class="event_flags_history_item">
  at <%= event_flag_history.new_record? ? "now" :   event_flag_history.created_at.getlocal.ctime %>
  by <%= event_flag_history.user.realname %>
  as <%= event_flag_history.rolename %>
  <ul>
    <% Event.flags.each do |f| %>
        <% if f == "is_active" and event_flag_history[f] == false %>
            <li>CLOSED</li>
        <% elsif event_flag_history[f] == true %>
            <li><%= f %></li>
        <% end %>
    <% end %>
    <%= event_flag_history.alert_list.join(', ') %>
  </ul>
</div>