<% if @event.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

	<ul>
		<% @event.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<h1>Create a new log entry</h1>
<div class="entry_metadata"><%= time_tag Time.now %> created by <%= current_user.realname %></div>
<%= semantic_form_for @event do |f| %>
<div id="event_options_side">
	<%= f.inputs class: "status" do %>
		<%= f.input :status, as: :radio, collection: Event.statuses, label: false %>
	<% end %>
	<%= f.inputs class: "type_flags" do %>
		<%= f.input :comment %>
		<%= f.input :flagged %>
		<%= f.input :post_con %>
		<%= f.input :quote %>
		<%= f.input :sticky %>
		<%= f.input :emergency %>
		<%= f.input :medical %>
		<%= f.input :hidden %>
		<%= f.input :secure %>
	<% end %>
</div>
<div id="entries">
	<%= render partial: 'new_entry', locals: { event: @event, entry: Entry.new } %>
	<%= render partial: 'entry', collection: @event.entries %>
</div>
i<div id="event_options_bottom">
	<%= f.inputs class: "department_flags" do %>
	<%= f.input :consuite %>
	<%= f.input :hotel %>
	<%= f.input :parties %>
	<%= f.input :volunteers %>
	<%= f.input :dealers %>
	<%= f.input :dock %>
	<%= f.input :merchandise %>
	<% end %>
</div>
<br />
<div class="buttons">
	<%= f.buttons do %>
	<%= f.commit_button %>
	<% end %>
</div>
<% end %>

