<div style="display: inline-block; width: 100%">
  <% if !form && params[:merge_mode] == 'true' %>
    <span class="merge-check">
      <%= check_box_tag "merge_ids[]", event.id %>
      <%= label_tag "merge_ids[]", 'Merge' %>
    </span>
  <% end %>

  <% if !form %>
      <%= link_to 'Update This Event', edit_event_path(event), class: 'button update' %>
  <% end %>

  <span class="<%= event_style event %>"><%= event_tags event %></span>

  <% if !form %>
      <span class="updated_at"><%= event.updated_at.getlocal.ctime %></span>
      <div class="event-id">ID: <%= event.id %></div>
  <% end %>

</div>
