<% @events.each do |event| %>
  <div class="event">
    <div class="event_header">
      <span class="add_entry_link"><%= link_to 'Add Entry', new_entry_path( event_id: event, user_id: session[:user_id] ) %></span>
    </div>
    <div class="event_metadata">
    </div>
    <div class="entries">
      <%= render(partial: 'entries/entry', collection: event.entries) %>
    </div>
    <div class="event_actions">
      <div class="event_action"><%= link_to 'Show', event %></div>
      <div class="event_action"><%= link_to 'Edit', edit_event_path(event) %></div>
      <div class="event_action"><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></div>

    </div>
  </div>
<% end %>

<%= link_to 'New Event', new_event_path %>
