<div id="paginator"><%= paginate @events, remote: true %></div>
<div id="event_list">
</div>

<script>
    window.events.page = <%= params[:page].nil? ? '1' : params[:page] %>
    window.events.path = "<%= url_for(false) %>"
    window.events.getMain()
</script>
<% content_for :side do %>
    <% case url_for(false) %>
        <% when root_path %>
            <div><strong>Viewing Actives</strong></div>
            <div id="sticky_link"><%= link_to 'View Stickies', sticky_events_path %></div>
            <% if current_user.rw_secure? %>
                <div id="secure_link"><%= link_to 'View Secure and Hidden Actives', secure_events_path %></div>
            <% end %>
        <% when sticky_events_path %>
            <div id="unsticky_link"><%= link_to 'View Actives', root_path %></div>
            <div><strong>Viewing Stickies</strong></div>
            <% if current_user.rw_secure? %>
                <div id="secure_link"><%= link_to 'View Secure and Hidden Actives', secure_events_path %></div>
            <% end %>
        <% when secure_events_path %>
            <% if current_user.rw_secure? %>
                <div id="unsticky_link"><%= link_to 'View Actives', root_path %></div>
                <div id="sticky_link"><%= link_to 'View Stickies', sticky_events_path %></div>
                <div><strong>Viewing Secure and Hidden Actives</strong></div>
            <% end %>
        <% else %>
            <div>I HAVE NO IDEA WHAT TO DO NOW!</div>
    <% end %>
<% end %>
