<%= content_for :side do %>
    <div id="filters">
      <%= link_to "Show/Hide Filters", "#", id: :show_hide_filters %>
      <%= field_set_tag("Filters", id: "filter_set") do %>
          <% Event.flags.each do |flag| %>
              <%= render partial: 'filter_term', locals: { term: flag } %>
          <% end %>
      <% end %>
      <script>
          $(
                  $( '#filter_set' ).hide()
          )
          $(
                  $( '#show_hide_filters' ).click( function () {
                      $( '#filter_set' ).toggle( 'blind' )
                  } )
          );
          $(
                  $( '#filters' ).change(
                          function ( event ) {
                              window.events.getReview( {
                                                           <% Event.flags.each do |flag| %>
                                                           "<%= flag %>": $( '#filters input:radio[name=<%= flag %>]:checked' ).val(),
                                                           <% end %>
                                                       } )
                          }
                  )
          )
      </script>
    </div>
<% end %>
<div id="paginator"><%= paginate @events, remote: true %></div>
<div id="eventlist">
</div>

<script>
    window.events.active = <%= params[:active].nil? ? false : params[:active] %>
    window.events.page = <%= params[:page].nil? ? "1" : params[:page] %>
    $( window.events.getReview() )
</script>