<%= content_for :side do %>
    <div id="filters">
      <%= filter_by_convention %>
      <%= link_to "Show/Hide Filters", "#", id: :show_hide_filters %>
      <%= field_set_tag("Filters", id: "filter_set") do %>
          <% Event.flags.each do |flag| %>
              <%= render partial: 'filter_term', locals: { term: flag } %>
          <% end %>
      <% end %>
      <script>
          $(
                  $('#filter_set').hide()
          )
          $(
                  $('#show_hide_filters').click(function () {
                      $('#filter_set').toggle('blind')
                  })
          );
          $(
                  $('#filters').change(
                          function (event) {
                              window.events.getReview({
                                  <% Event.flags.each do |flag| %>
                                  "<%= flag %>": $('#filters input:radio[name=<%= flag %>]:checked').val(),
                                  <% end %>
                              })
                          }
                  )
          )
      </script>
    </div>
<% end %>
<%= form_tag merge_events_events_path, method: :post, id: 'merge-form' do %>
    <div id="event-buttons" class="button">
      <span id="merge-mode-toggle"></span>
      <span id="merge-mode-submit"></span>
    </div>

    <div class="paginator"><%= paginate @events, remote: true %></div>
    <div id="event_list"></div>
    <div class="paginator"><%= paginate @events, remote: true %></div>
<% end %>

<script>
    window.events.active = <%= params[:active].nil? ? false : params[:active] %>;
    window.events.page = <%= params[:page].nil? ? "1" : params[:page] %>;
    window.events.convention = "<%= params[:convention].presence %>";
    if (window.events.convention = '')
        window.events.convention = $('#convention').val();
    window.events.merge_mode = "<%= params[:merge_mode].presence %>";
    window.events.getReview({
        <% Event.flags.each do |flag| %>
        "<%= flag %>": $('#filters input:radio[name=<%= flag %>]:checked').val(),
        <% end %>
    });
</script>