<p id="notice"><%= notice %></p>

<div>
</div>

<div id="entries">
    <%= render(partial: "entries/entry", collection: @event.entries) %>
</div>
<%= link_to 'Add Update', new_event_entry_path(@event) %>

<%= content_for :side do %>
<%= link_to 'Back', events_path %>
<% end %>