<h1>Radio Assignments</h1>

<div><%= link_to 'Check Out Radio', :new_radio_assignment %></div>


<table>
  <tr>
    <th>Radio Group</th>
    <th>Radio</th>
    <th>Volunteer</th>
    <th>Since</th>
    <th></th>
  </tr>

<% @radio_assignments.each do |radio_assignment| %>
  <tr>
    <td class="<%= radio_assignment.radio.radio_group.color %>"><%= radio_assignment.radio.radio_group.name %></td>
    <td><%= radio_assignment.radio.name %></td>
    <td><%= radio_assignment.volunteer.name %></td>
    <td><%= radio_assignment.created_at.ctime %></td>
    <td><%= link_to 'Check In Radio', radio_assignment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

