<h1>Listing radio_assignments</h1>

<table>
  <tr>
    <th>Radio</th>
    <th>Volunteer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @radio_assignments.each do |radio_assignment| %>
  <tr>
    <td><%= radio_assignment.radio_id %></td>
    <td><%= radio_assignment.volunteer_id %></td>
    <td><%= link_to 'Show', radio_assignment %></td>
    <td><%= link_to 'Edit', edit_radio_assignment_path(radio_assignment) %></td>
    <td><%= link_to 'Destroy', radio_assignment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Radio assignment', new_radio_assignment_path %>
