<p id="notice"><%= notice %></p>

<p>
  <b>Radio:</b>
  <%= @radio_assignment.radio_id %>
</p>

<p>
  <b>Volunteer:</b>
  <%= @radio_assignment.volunteer_id %>
</p>


<%= link_to 'Edit', edit_radio_assignment_path(@radio_assignment) %> |
<%= link_to 'Back', radio_assignments_path %>
