<h1>Contacts</h1>

<div class="button"><%= link_to 'New Contact', new_contact_path, class: 'button' %></div>
<div style="height: 50px; vertical-align: middle">
  <div id="paginator" class="pull-left"><%= paginate @contacts %></div>
  <div id="search"><%= search_form_for @q do |f| %>
        <%= f.label :name_cont %>
        <%= f.text_field :name_cont %>
        <%= f.submit %>
    <% end %>
  </div>
</div>

<table class="clearfix">
  <tr>
    <th><%= sort_link @q, :name, 'Name' %></th>
    <th><%= sort_link @q, :department, 'Department' %></th>
    <th><%= sort_link @q, :cell_phone, 'Cell phone' %></th>
    <th><%= sort_link @q, :can_text?, 'Can Text?' %></th>
    <th><%= sort_link @q, :hotel, 'Hotel' %></th>
    <th><%= sort_link @q, :hotel_room, 'Hotel room' %></th>
    <th></th>
  </tr>

  <% @contacts.each do |contact| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= link_to contact.name, contact %></td>
        <td><%= contact.department %></td>
        <td><%= contact.cell_phone %></td>
        <td><%= contact.can_text? ? "Yes" : "No" %></td>
        <td><%= contact.hotel %></td>
        <td><%= contact.hotel_room %></td>
        <% if current_user and current_user.write_entries? %>
            <td><%= link_to ("Leave&nbsp;Message").html_safe, new_message_path(message: { for:          contact.name,
                                                                                          phone_number: contact.cell_phone,
                                                                                          room_number:  contact.hotel_room,
                                                                                          hotel:        contact.hotel }),
                            class: 'button small-button' %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<div style="height: 50px; vertical-align: middle">
  <div id="paginator" class="pull-left"><%= paginate @contacts %></div>
  <div id="search"><%= search_form_for @q do |f| %>
        <%= f.label :name_cont %>
        <%= f.text_field :name_cont %>
        <%= f.submit %>
    <% end %>
  </div>
</div>
<div class="button">
  <%= link_to 'New Contact', new_contact_path, class: 'button' %>
</div>

<% content_for :side do %>
    <div>
      <%= link_to "Users", users_path %>
    </div>
    <div>
      <%= link_to "Volunteers", volunteers_path %>
    </div>
    <div>
      <%= link_to "Messages", messages_path %>
    </div>
<% end %>