<h1>Listing contacts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Department</th>
    <th>Cell phone</th>
    <th>Hotel</th>
    <th>Hotel room</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.name %></td>
    <td><%= contact.department %></td>
    <td><%= contact.cell_phone %></td>
    <td><%= contact.hotel %></td>
    <td><%= contact.hotel_room %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
