<div class="name">
  <%= @contact.name %>
</div>

<div>
  <b>Department:</b>
  <%= @contact.department %>
</div>

<div>
  <b>Cell phone:</b>
  <%= @contact.cell_phone %>
</div>

<div>
  <b>Hotel:</b>
  <%= @contact.hotel %>
</div>

<div>
  <b>Hotel room:</b>
  <%= @contact.hotel_room %>
</div>

<% content_for :side do %>
<div><%= link_to 'Edit', edit_contact_path(@contact) %></div>
<div><%= link_to 'Back', contacts_path %></div>
<% end %>
