<tr>
  <td><%= audit.created_at.getlocal.ctime %></td>
  <td>
    <% case audit.auditable_type
         when "Entry" %>
           <% if Event.find_by_id(audit.associated_id).present? %>	
		<%= link_to "Entry for Event #{audit.associated_id}", Event.find(audit.associated_id) %>
           <% else %>
                Entry for <%= audit.associated_id %> (deleted!)
           <% end %>
      <% when "Event" %>
           <% if Event.find_by_id(audit.auditable_id).present? %>
		<%= link_to "Event #{audit.auditable_id}", Event.find(audit.auditable_id) %>
           <% else %>
                Event <%= audit.auditable_id %> (deleted!)
           <% end %>
      <% when "LostAndFoundItem" %>
           <%= link_to "Lost/Found", LostAndFoundItem.find(audit.auditable_id) %>
      <% when "LoginLog" %>
           Login/Out
    <% end %>
  </td>
  <td>
    <% user = User.find_by_id audit.user_id if audit.user_id %>
    <%= link_to user.username, user if user %>
  </td>
  <td><%= audit.audited_changes %></td>
</tr>
