<tr>
  <td class="<%= radio.radio_group.color if radio.radio_group.present? %>"><%= radio.radio_group.name if radio.radio_group.present? %></td>
  <td>
    <% if current_user and current_user.can_admin_radios? %>
        <%= link_to radio.number, edit_radio_path(radio) %>
    <% else %>
        <%= radio.number %>
    <% end %>
  </td>
  <td><%= radio.radio_assignment ? radio.radio_assignment.department.name : "" %></td>
  <td><%= radio.radio_assignment ? radio.radio_assignment.volunteer.name : "" %></td>
  <td><%= radio.state %></td>
  <% if current_user and current_user.can_assign_radios? %>
      <td>
        <% if radio.state == "in" and radio.radio_assignment.nil? %>
            <%= button_to "Check out", checkout_radio_path(radio), method: :get %>
        <% else %>
            <%= button_to "Check in", radio.radio_assignment, confirm: 'Are you sure?', method: :delete %>
        <% end %>
      </td>
  <% end %>
</tr>
