<li class="radio_radio_group <%= radio.radio_group.color %>"><%= radio.radio_group.name %></li>
<li class="radio_number"><%= radio.number %></li>
<li class="radio_notes"><%= radio.notes %></li>
<li class="radio_edit_button"><%= button_to "Edit", edit_radio_path(radio), method: :get %></li>