<table>
  <tr>
    <th>Name</th>
  </tr>

  <% @volunteers.each do |volunteer| %>
      <tr>
        <td class="radio_volunteer"><%= volunteer.name %></td>
        <td id="vol-<%= volunteer.id %>"><%= link_to 'Select', { action: :select_department, id: radio, volunteer: volunteer.id }, method: :get, remote: true %></td>
      </tr>
      <script>
          $( window.radios.bind_volunteer( "<%= volunteer.id %>", "<%= volunteer.name %>" ) );
      </script>
  <% end %>
</table>

