<h1>Check out radio</h1>
<div id="radio_summary">
  <div class="radio_group <%= @radio.radio_group.color %>"><%= @radio.radio_group.name %></div>
  <div class="radio_number"><%= @radio.name %></div>
</div>
<%= form_tag ({ action: :search_volunteers, controller: :radios }), id: "volunteer_search", remote: true do %>
    <%= hidden_field_tag :radio, @radio.id %>
    <%= text_field_tag :first_name %>
    <%= text_field_tag :last_name %>
    <%= submit_tag "Find volunteer" %>
<% end %>
<script>
    $( '#volunteer_search' ).bind( 'ajax:success', function ( evt, data, status, xhr ) {
        $( '#matching_volunteers' ).html( xhr.responseText )
    } );


    var form = $( 'form#volunteer_search' );
    var div = $( '<div class="radio_volunteer" id="radio_volunteer"></div>' );

    var bind_action = function ( evt, data, status, xhr ) {
        form.replaceWith( div );
        $( '#matching_volunteers' ).html( xhr.responseText );
    };

    var bind_volunteer = function ( id, name ) {
        div.html( name );
        $( '#vol-' + id ).bind( 'ajax:success', bind_action );
    };
</script>
<div id="matching_volunteers"></div>
