<h1>Radio</h1>
<div>
  <span class="label">Radio Group:</span>
  <span class="radio_group <%= @radio.radio_group.color %>"><%= @radio.radio_group.name %></span>
</div>
<div>
  <span class="label">Number:</span>
  <span class="radio_number"><%= @radio.number %></span>
</div>
<div>
  <span class="label">Notes:</span>
  <span class="radio_notes"><%= @radio.notes %></span>
</div>

<% content_for :side do %>
    <div><%= link_to 'Edit', edit_radio_path(@radio) %></div>
    <div><%= link_to 'Delete', @radio, confirm: 'Are you sure?', method: :delete %></div>
    <hr/>
    <%= render partial: 'sidebar' %>
<% end %>