<div>
  <div class="label">Radio:</div>
  <div class="check"><%= raw check_bool training.radio %></div>
</div>

<div>
  <div class="label">Ops basics:</div>
  <div class="check"><%= raw check_bool training.ops_basics %></div>
</div>

<div>
  <div class="label">First contact:</div>
  <div class="check"><%= raw check_bool training.first_contact %></div>
</div>

<div>
  <div class="label">Communications:</div>
  <div class="check"><%= raw check_bool training.communications %></div>
</div>

<div>
  <div class="label">Dispatch:</div>
  <div class="check"><%= raw check_bool training.dispatch %></div>
</div>

<div>
  <div class="label">Wandering host:</div>
  <div class="check"><%= raw check_bool training.wandering_host %></div>
</div>

<div>
  <div class="label">Xo:</div>
  <div class="check"><%= raw check_bool training.xo %></div>
</div>

<div>
  <div class="label">Ops subhead:</div>
  <div class="check"><%= raw check_bool training.ops_subhead %></div>
</div>

<div>
  <div class="label">Ops head:</div>
  <div class="check"><%= raw check_bool training.ops_head %></div>
</div>

