<h1>Radio Assignment Audit Trail</h1>

<div class="table-responsive">
<table class="table table-striped sortable">
<thead>
  <tr>
    <th>Radio</th>
    <th>Volunteer</th>
    <th>State</th>
    <th>At</th>
    <th>By</th>
  </tr>
</thead>
<tbody>
<% @radio_assignment_audits.each do |a| %>
  <tr>
    <td><%= a.radio.blank? ? 'NO RADIO' : (link_to a.radio.name, a.radio) %></td>
    <td><%= link_to a.volunteer.name, a.volunteer %></td>
    <td><%= a.state %></td>
    <td><%= a.created_at %></td>
    <td><%= link_to a.user.realname %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
<% content_for :side do %>
    <div class="col-md-12">
      <div class="well well-sm">
        <div>
          <%=  link_to 'Export CSV', radio_assignment_audits_path(format: :csv) %>
        </div>
        <div>
          <%=  link_to 'Back', :radio_admin_index %>
        </div>
      </div>
    </div>
<% end %>
