<%= semantic_form_for @role do |f| %>
<table class="roleslist">
	<%= render partial: "roles/roleheader" %>
	<tr>
  <%= f.inputs do %>
    <td><%= f.input :name, label: "" %></td>
    <td><%= f.input :write_entries, label: "" %></td>
    <td><%= f.input :read_hidden_entries, label: "" %></td>
    <td><%= f.input :add_lost_and_found, label: "" %></td>
    <td><%= f.input :modify_lost_and_found, label: "" %></td>
    <td><%= f.input :admin_radios, label: "" %></td>
    <td><%= f.input :assign_radios, label: "" %></td>
    <td><%= f.input :admin_users, label: "" %></td>
    <td><%= f.input :admin_schedule, label: "" %></td>
    <td><%= f.input :assign_shifts, label: "" %></td>
    <td><%= f.input :assign_duty_board_slots, label: "" %></td>
    <td><%= f.input :admin_duty_board, label: "" %></td>
  <% end %>
</tr>
</table>

  <%= f.actions do %>
    <%= f.action :submit %>
  <% end %>
<% end %>
