<div id="banner_text">
  <% if current_user %>
      <% emerg = Event.num_active_emergencies %>
      <% medic = Event.num_active_medicals %>
      <% msgs  = Message.num_active %>
      <% count = Event.num_active %>
      <div>
      <% if emerg > 0 %>
          <span><%= pluralize emerg, "Emergency" %></span>
      <% end %>
      <% if medic > 0 %>
          <span><%= pluralize medic, "Medical" %></span>
      <% end %>
      </div>
      <% if msgs > 0 %>
          <div><%= pluralize msgs, "Message" %></div>
      <% end %>
 
      <div><%= pluralize count, "Active Issue" %></div>
      <div><%= Time.now.ctime %>&mdash;User: <%= link_to current_user.name, current_user %></div>
  <% else %>
      <h1>CONVergence Operations Log</h1>

  <% end %>
</div>
