<% if is_authenticated? %>
    <div id="menubar">
      <ul>
        <li><%= tab 'Main', root_path %></li>
        <% if current_user and current_user.write_entries? %>
            <li><%= tab 'Log Event', new_event_path %></li>
        <% end %>
        <% if current_user and current_user.add_lost_and_found? %>
            <li><%= tab 'Lost/Found', lost_and_found_path %></li>
        <% end %>
        <% if current_user and current_user.write_entries? %>
            <li><%= tab 'Messages', messages_path %></li>
        <% end %>
        <!--li><a href="/equipment">Equipment</a></li-->
        <li><%= tab 'Review', review_events_path %></li>
        <li><%= tab 'Duty Board', duty_board_index_path, 'fred' %></li>
        <% if current_user and current_user.can_assign_radios? %>
            <li><%= tab 'Radios', radios_path %></li>
        <% end %>
        <% if can_admin_anything? %>
            <li><%= tab 'Admin', admin_path %></li>
        <% end %>
        <li><%= tab "Log Out", signout_path %></li>
      </ul>
    </div>
<% end %>
