<!DOCTYPE html>
<html>
<head>
	<title>Con On Rails<%= title %></title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<% background = "" %>
<% background = "missing" if params[:reported_missing] %>
<% background = "found" if params[:found] %>
<body class="<%= controller.controller_name %> <%= background %>">
	<div id="banner" class="<%= get_banner_style %>"> 
		<div id="logo">
			Con On Rails	   
		</div>
		
		<div id="text">
			<% if !content_for?(:banner) %>
				<% count = Event.num_active %>
				<% emerg = Event.num_active_emergencies %>
				<div><%= pluralize count, "Active Issue" %></div>
				<% if emerg > 0 %>
					<div><%= pluralize emerg, "Emergency" %></div>
				<% end %>
				<div><%= Time.now %>&mdash;User: <%= link_to current_user.name, current_user %></div>
			<% else %>
				<%= yield :banner %>
			<% end %>
		</div>

		<% if is_authenticated? %>
		<div id="emergency_button">
			<a href="/events/new?emergency=1">Open a New Emergency</a>
		</div>
		<% end %>
	</div>

	<% if is_authenticated? %>
	<div id="menubar">
		<ul>
			<li><a href="/">Main</a></li>
			<li><a href="/events/new">Log Event</a></li>
			<li><a href="/lost_and_found">Lost/Found</a></li>
			<li><a href="/messages">Messages</a></li>
			<li><a href="/equipment">Equipment</a></li>
			<li><a href="/events">Review</a></li>
			<li><a href="/signout">Log Out</a></li>
		</ul>
	</div>
	<% end %>
	
	<%- flash.each do |key, msg| -%>
	<div id="<%= key %>">
		<p style="float:right;"><%= link_to_function 'X', "Effect.Fade('#{key}')" %></p>
		<p><%= msg %></p>
		<div class="clear"></div>
	</div>
	<%- end -%>

	<div id="columns">
		<div id="side">
			<%= yield :side %>
		</div>
		<div id="main">
			<%= content_for?(:main) ? yield( :main ) : yield %>
		</div>
	</div>

	<div id="indicia">
		Con on Rails is Copyright &copy; 2011 Michael Scott Shappe, licensed under some license or other yet to be determined.
		<%= debug(params) if Rails.env.development? %>
	</div>
</body>
</html>
