<!DOCTYPE html>
<html>
<head>
  <title>Con On Rails<%= title %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %> <%= background %>">

<div id="banner-placeholder">
  <noscript><%= render "banner" %></noscript>
</div>
<%= render "menubar" %>

<%- flash.each do |key, msg| -%>
    <div id="<%= key %>">
      <p style="float:right;"><%= link_to_function 'X', "$('##{key}').fadeOut(0)" %></p>

      <p><%= msg %></p>

      <div class="clear"></div>
    </div>
    <script type="text/javascript">
        $( '#<%= key %>' ).fadeOut( 10000 );
    </script>
<%- end -%>


<div id="columns">
  <div id="side">
    <%= yield :side %>
    <hr width="80%" />
    <div><%= link_to "Change Password", change_password_user_path(current_user) if current_user %></div>
    <div id="shiftboard-thingy">
      <a href="http://www.shiftboard.com/ce" title="Online Scheduling" alt="Online Scheduling and People Management Tools">
        Shiftboard</a></div>
    <div id="welcome">
      <h3>Welcome to the third BETA Test of Con On Rails.</h3>

      <div>This is version 0.96, "Delirious Diplodocus with a Dram"</div>
    </div>
  </div>
  <div id="main">
    <%= content_for?(:main) ? yield(:main) : yield %>
  </div>
</div>


<script>
  $( '#welcome' ).fadeOut( 10000 )
</script>

<div id="indicia">
  <div>Con on Rails is Copyright &copy; 2011, 2012 Michael Scott Shappe, DeNae Leverentz, Thomas Keeley, licensed under
    <a href="http://www.apache.org/licenses/LICENSE-2.0.html">The Apache License, 2.0.</a></div>
  <div>Version 0.80 "Bemused Badger"</div>
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
