<!DOCTYPE html>
<html>
<head>
  <title>Con On Rails<%= title %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<% background = "" %>
<% background = "missing" if params[:reported_missing] or (@lfi and @lfi.reported_missing?) %>
<% background = "found" if params[:found] or (@lfi and @lfi.found?) %>
<body class="<%= controller.controller_name %> <%= background %>">

<%= render "banner" %>
<%= render "menubar" %>

<%- flash.each do |key, msg| -%>
    <div id="<%= key %>">
      <p style="float:right;"><%= link_to_function 'X', "$('##{key}').fadeOut(0)" %></p>

      <p><%= msg %></p>

      <div class="clear"></div>
    </div>
    <script type="text/javascript">
        $( '#<%= key %>' ).fadeOut( 10000 );
    </script>
<%- end -%>

<h1>Welcome to the first open Alpha Test of Con On Rails.</h1>

<p>I have no version numbering scheme in mind yet, so we're going to call this version "Fred"</p>

<div id="columns">
  <div id="side">
    <%= yield :side %>
  </div>
  <div id="main">
    <%= content_for?(:main) ? yield(:main) : yield %>
  </div>
</div>

<div id="indicia">
  Con on Rails is Copyright &copy; 2011 Michael Scott Shappe, licensed under some license or other yet to be determined.
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
