<!DOCTYPE html>
<html>
<head>
  <title>Con On Rails<%= title %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<% background = "" %>
<% background = "missing" if params[:reported_missing] or (@lfi and @lfi.reported_missing?) %>
<% background = "found" if params[:found] or (@lfi and @lfi.found?) %>
<body class="<%= controller.controller_name %> <%= background %>">

<div id="banner-placeholder">
  <noscript><%= render "banner" %></noscript>
</div>
<%= render "menubar" %>

<%- flash.each do |key, msg| -%>
    <div id="<%= key %>">
      <p style="float:right;"><%= link_to_function 'X', "$('##{key}').fadeOut(0)" %></p>

      <p><%= msg %></p>

      <div class="clear"></div>
    </div>
    <script type="text/javascript">
        $( '#<%= key %>' ).fadeOut( 10000 );
    </script>
<%- end -%>

<div id="welcome">
  <h1>Welcome to the second open Alpha Test of Con On Rails.</h1>

  <div>This is version 0.75, "Agitated Antelope"</div>
</div>
<div id="columns">
  <div id="side">
    <%= yield :side %>
  </div>
  <div id="main">
    <%= content_for?(:main) ? yield(:main) : yield %>
  </div>
</div>

<div id="indicia">
  <div>Con on Rails is Copyright &copy; 2011 Michael Scott Shappe, licensed under
    <a href="http://www.apache.org/licenses/LICENSE-2.0.html">The Apache License, 2.0.</a></div>
  <div>Version 0.75 "Agitated Antelope"</div>
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
